.ng-scope
{
    background-color:  rgb(94, 156, 185);
}

.login-fields
{
    padding-top: 60px;
    text-align: center;
    margin-left: 50px;
    border-width: 100px;
    margin-right: 110px;
}

.h3
{
    font-size: 38px;
}

.text-field
{
    text-align: left;
    padding: 8px;
    margin: 10px;
    width: 320px;
}

.text-fieldreset
{
    text-align: left;
    padding: 8px;
    margin: 10px;
    width: 320px;
}

.label
{
    font-size: 16px;
    padding-left: 36%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.buttonregister
{
    left: 726px;
    position: absolute;
    bottom: 14%
}

.buttonreset
{
    bottom: 380px;
    left: 610px;
    position: absolute;
    font-size: 15px;
}

.buttonforgot
{
    bottom: 280px;
    left: 735px;
    font-size: 15px;
}