<html>

<head>
    <title>Chat App</title>
</head>

<body ng-app="chatApplication" ng-controller="chatController">
    <div id="page">
        <div id="header">
            Chat Box
            <button ui-sref="logout" ng-click="logout()" class="buttonlogout">log out</button>
        </div>
        <div id="menu">
            <div class="contacts">Contacts</div>
            <div ng-repeat="x in allUser" ng-click=person(x)>
                <div class="displayname">
                    {{x.firstname}}
                </div>
            </div>
        </div>
        <div id="main-div">
            <div id="message-display">

            </div>
            <div>
                <form>
                    <div>
                        <div>
                            <textarea placeholder="Start conversation.." id="text-area" name="msg" required></textarea>
                        </div>
                        <div>
                            <button type="submit" ng-click="send()" id="button-send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>