<html>
<head>
    <meta charset="utf-8">
    <title>ChatApp login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="../css/login.css" type="text/css">
</head>
<body style="background-color:darkgray">
    <div ng-app = "ChatApp" class="login-fields">
        <h3 class="h3"><b>Log In</b></h3>

        <div>
            <div class="label">
                <lable for="emailid">Email Id:  </lable><br>
            </div>
                <input type="email" id="emailid" class="text-field" placeholder="Enter emailid" ng-model="registercontact.emailid">
        </div>
        <div>
            <div class="label">
                <label for="password">Password:  </label><br>
            </div>
                <input type="password" id="password" class="text-field" placeholder="Enter password" ng-model="registercontact.password">
        </div>
        <div class="forgot-link">
            <a href="">forgot password? </a>
            <input type="button" class="button" value="Log in">
        </div>
        <div class="account">
            <a href="">create account? </a>
        </div>
    </div>
</body>
</html>