<html>

<head>
    <title>ChatApp login</title>
</head>

<body style="background-color:darkgray">
    <div ng-app="chatApplication" ng-controller="loginController" class="login-fields">
        <h3 class="h3"><b>Log In</b></h3>

        <div>
            <div class="label">
                <lable for="emailid">Email Id: </lable><br>
            </div>
            <input type="email" id="emailid" class="text-field" placeholder="Enter emailid" ng-model="emailid">
        </div>
        <div>
            <div class="label">
                <label for="password">Password: </label><br>
            </div>
            <input type="password" id="password" class="text-field" placeholder="Enter password" ng-model="password">
        </div>
        <div class="forgot-link">
            <a href="/#/forgot">forgot password? </a>
            <button ui-sref="login" ng-click="login()" class="button">Log in</button><br>
        </div>
        <div class="account">
            <a href="/#/register">create account? </a>
        </div>
    </div>
</body>

</html>